.ICEauthority
.bash_logout
.cache/
.config/
.dbus/
.esd_auth
.fontconfig/
.fonts/
.gconf/
.gconfd/
.gem/
.gitconfig
.gnome2/
.gtk-bookmarks
.local/
.macromedia/
.mozilla/
.pulse-cookie
.pulse/
.recently-used.xbel
.rvm/
.ssh/
.thumbnails/
.viminfo
.xsession-errors
Desktop/
Firefox_wallpaper.png
Refactoring Ruby Edition Addison-Wesley 2010.pdf
code/
examples.desktop
.vim/backup/
